<div style="
  background-image: url(https://images.unsplash.com/photo-1607799279861-4dd421887fb3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background: linear-gradient(180deg,rgba(75, 75, 190, 1) 27%, rgba(29, 35, 42, 1) 59%);
">

  <app-navar-page></app-navar-page>

  <div class="hero min-h-screen">
    <div class="hero-content flex flex-col lg:flex-row-reverse items-center gap-8 px-4">

      <!-- Avatar -->
      <div class="avatar">
        <div class="bg-base-100 w-32 sm:w-40 md:w-48 lg:w-70 rounded-full  drop-shadow-lg drop-shadow-indigo-500/50">
          <img src="imgs/user.webp" alt="logo">
        </div>
      </div>

      <!-- Texto -->
      <div class="w-full max-w-xl text-center lg:text-left">
        <h1 class="text-white text-xl sm:text-2xl md:text-3xl font-mono border-r-2 border-white animate-typing-responsive mx-auto lg:mx-0 leading-tight">
          {{ 'header.name' | translate }}
        </h1>

       <p class="text-white text-xs sm:text-sm md:text-base leading-snug" [innerHTML]="summaryHtml"></p>


        <!-- Botón descargar CV -->
        <div class="mt-4 flex flex-col sm:flex-row sm:items-center sm:justify-start gap-4">
          
          <div class="flex justify-center sm:justify-start gap-3">
            <img src="icons/rxjs.png" class="w-6 h-6" alt="Angular" />
            <img src="icons/tailwindcss.png" class="w-6 h-6" alt="React" />
          </div>
          <a class="btn btn-primary gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 16v1a2 2 0 002 2h12a2 2 0 002-2v-1M7 10l5 5m0 0l5-5m-5 5V4" />
          </svg>
         
          <app-pdf   
            [infPdf]=" 'header.pdf' | translate " 
            [infText]="   'header.btn' | translate  "
            [typePdf]="'CV'"
            ></app-pdf>
          </a>

          <!-- Íconos -->
          <div class="flex justify-center sm:justify-start gap-3">
            <img src="icons/angular.png" class="w-6 h-6" alt="Angular" />
            <img src="icons/react.png" class="w-6 h-6" alt="React" />
          </div>
        </div>

    <div class="flex items-center justify-center relative mt-4 gap-2 flex-wrap">
      <kbd class="kbd kbd-xl" #textarea >{{defaultText}}</kbd>
      <!-- Botón DaisyUI -->
      <button
        class="btn btn-sm btn-circle bg-[var(--color-tertiary)] text-black hover:bg-gray-600"
        (click)="clipboard()"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#e1e1e1" d="M6.6 11.397c0-2.726 0-4.089.843-4.936c.844-.847 2.201-.847 4.917-.847h2.88c2.715 0 4.073 0 4.916.847c.844.847.844 2.21.844 4.936v4.82c0 2.726 0 4.089-.844 4.936c-.843.847-2.201.847-4.916.847h-2.88c-2.716 0-4.073 0-4.917-.847s-.843-2.21-.843-4.936z"/><path fill="#e1e1e1" d="M4.172 3.172C3 4.343 3 6.229 3 10v2c0 3.771 0 5.657 1.172 6.828c.617.618 1.433.91 2.62 1.048c-.192-.84-.192-1.996-.192-3.66v-4.819c0-2.726 0-4.089.843-4.936c.844-.847 2.201-.847 4.917-.847h2.88c1.652 0 2.8 0 3.638.19c-.138-1.193-.43-2.012-1.05-2.632C16.657 2 14.771 2 11 2S5.343 2 4.172 3.172" opacity="0.5"/></svg>
      </button>

      <!-- Tooltip personalizado -->
      <div
        id="tooltip"
        class="right-[-72px] bg-neutral text-neutral-content text-xs px-3 py-1 rounded-tl-xl rounded-br-xl transition-opacity duration-500 ease-in-out opacity-0 invisible"
      >
        {{'header.btn-copy'|translate}}
      </div>
    </div>


       
      </div>
    </div>
  </div>
</div>

<style>
@keyframes typing {
  from { width: 0 }
  to { width: 27ch }
}
@keyframes blink {
  0%, 100% { border-color: transparent }
  50% { border-color: white }
}
.animate-typing-responsive {
  animation: typing 3s steps(27, end), blink 0.75s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  max-width: 27ch;
}
</style>
