<div class="bg-success w-fit px-4 py-2 rounded-2xl flex items-center gap-2 mb-4">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path fill="#e1e1e1" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"/>
  </svg>
  <h1 class="text-white font-semibold">{{ 'skills.title' | translate }}</h1>
</div>

<div class="bg-base-200 rounded-2xl shadow-md p-6 w-full">
  
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <!-- Front-end -->
    <section class="flex flex-col md:flex-row items-center bg-base-100 rounded-xl shadow-xl transition-transform duration-300 hover:scale-[1.02]">
      <img class="object-contain w-full md:w-48 md:h-full rounded-t-lg md:rounded-none md:rounded-s-lg bg-primary" src="imgs/front-end.png" alt="">
      <div class="flex flex-col justify-between p-4 w-full">
        <h5 class="mb-4 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Front-end</h5>
        <div class="flex flex-wrap gap-4">
          @for (item of frontend; track $index) {
            <div class="flex flex-col items-center w-16">
              <img class="w-12 h-12 object-contain" src="icons/{{item.logo}}.png" alt="{{item.title}}">
              <p class="text-sm text-center text-gray-700 dark:text-gray-400">{{item.title}}</p>
            </div>
          }
        </div>
      </div>
    </section>

    <!-- Back-end -->
    <section class="flex flex-col md:flex-row items-center bg-base-100 rounded-xl shadow-xl transition-transform duration-300 hover:scale-[1.02]">
      <img class="object-contain w-full md:w-48 md:h-full rounded-t-lg md:rounded-none md:rounded-s-lg bg-secondary" src="imgs/back-end.png" alt="">
      <div class="flex flex-col justify-between p-4 w-full">
        <h5 class="mb-4 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Back-end</h5>
        <div class="flex flex-wrap gap-4">
          @for (item of backend; track $index) {
            <div class="flex flex-col items-center w-16">
              <img class="w-12 h-12 object-contain" src="icons/{{item.logo}}.png" alt="{{item.title}}">
              <p class="text-sm text-center text-gray-700 dark:text-gray-400">{{item.title}}</p>
            </div>
          }
        </div>
      </div>
    </section>

    <!-- Herramientas -->
    <section class="flex flex-col md:flex-row items-center bg-base-100 rounded-xl shadow-xl transition-transform duration-300 hover:scale-[1.02]">
      <img class="object-contain w-full md:w-48 md:h-full rounded-t-lg md:rounded-none md:rounded-s-lg bg-info" src="imgs/tools.png" alt="">
      <div class="flex flex-col justify-between p-4 w-full">
        <h5 class="mb-4 text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{ 'skills.tools' | translate }}</h5>
        <div class="flex flex-wrap gap-4">
          @for (item of tools; track $index) {
            <div class="flex flex-col items-center w-16">
              <img class="w-12 h-12 object-contain" src="icons/{{item.logo}}.png" alt="{{item.title}}">
              <p class="text-sm text-center text-gray-700 dark:text-gray-400">{{item.title}}</p>
            </div>
          }
        </div>
      </div>
    </section>

    <!-- Aprendiendo -->
    <section class="flex flex-col md:flex-row items-center bg-base-100 rounded-xl shadow-xl transition-transform duration-300 hover:scale-[1.02]">
      <img class="object-contain w-full md:w-48 md:h-full rounded-t-lg md:rounded-none md:rounded-s-lg bg-error" src="imgs/brain.png" alt="">
      <div class="flex flex-col justify-between p-4 w-full">
        <h5 class="mb-4 text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{ 'skills.learning' | translate }}</h5>
        <div class="flex flex-wrap gap-4">
          @for (item of nexts; track $index) {
            <div class="flex flex-col items-center w-16">
              <img class="w-12 h-12 object-contain" src="icons/{{item.logo}}.png" alt="{{item.title}}">
              <p class="text-sm text-center text-gray-700 dark:text-gray-400">{{item.title}}</p>
            </div>
          }
        </div>
      </div>
    </section>
  </div>

  <!-- Divider -->
  <div class="divider my-8"></div>

  <!-- Habilidades Blandas -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="bg-base-100 rounded-box shadow-md p-4">
      <h3 class="text-lg font-bold mb-2">{{ 'languages.title' | translate }}</h3>
      <div class="flex flex-wrap gap-2">
        <span class="badge badge-accent text-xs uppercase font-semibold">{{ 'languages.spanish' | translate }}</span>
        <span class="badge badge-primary text-xs uppercase font-semibold">{{ 'languages.english' | translate }}</span>
      </div>
    </div>

    <div class="bg-base-100 rounded-box shadow-md p-4">
      <h3 class="text-lg font-bold mb-2">{{ 'personalTraits.title' | translate }}</h3>
      <div class="flex flex-wrap gap-2">
        @for (item of cognitive; track $index; let index = $index) {
           <span
            class="badge text-xs uppercase font-semibold"
            [ngClass]="getBadgeClass(index)"
            [innerHTML]="item">
          </span>
        }
      </div>
    </div>

    <div class="bg-base-100 rounded-box shadow-md p-4">
      <h3 class="text-lg font-bold mb-2">Interpersonales y Mentalidad</h3>
      <div class="flex flex-wrap gap-2">
        @for (item of mindset; track $index; let index = $index) {
           <span
            class="badge text-xs uppercase font-semibold"
            [ngClass]="getBadgeClass(index)"
            [innerHTML]="item">
          </span>
        }
      </div>
    </div>
  </div>
</div>
