<app-header-page></app-header-page>

<div class="m-5 p-10 flex flex-col gap-10">
  <div class="divider shadow-md"></div>

  <section id="experience">
    <app-experience-page></app-experience-page>
  </section>

  <div class="divider shadow-md"></div>

  <section id="project">
    <app-projects-page></app-projects-page>
  </section>

  <div class="divider shadow-md"></div>

  <section id="skills">
    <app-skills-pages></app-skills-pages>
  </section>

  <div class="divider shadow-md"></div>
</div>

<app-footer-page></app-footer-page>
