/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }


 @layer utilities {
  .grid-areas-proyectos {
    display: grid;
    grid-template-areas:
      "img1 img1 img2 img3"
      "img1 img1 img4 img5";
    gap: 0.5rem;
  }

  [grid-area="img1"] { grid-area: img1; }
  [grid-area="img2"] { grid-area: img2; }
  [grid-area="img3"] { grid-area: img3; }
  [grid-area="img4"] { grid-area: img4; }
  [grid-area="img5"] { grid-area: img5; }
}
