<div class="flex flex-col gap-6 px-4 py-6 max-w-6xl mx-auto">

  <!-- EXPERIENCIA -->
  <div class="flex items-center gap-2 bg-primary text-white w-fit px-4 py-2 rounded-2xl">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 20 20" class="text-white">
      <path fill="currentColor" d="M9 12H1v6a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-6h-8v2H9zm0-1H0V5c0-1.1.9-2 2-2h4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h4a2 2 0 0 1 2 2v6h-9V9H9zm3-8V2H8v1z"/>
    </svg>
    <h1 class="text-lg font-semibold">{{ 'experience.title' | translate }}</h1>
  </div>

  <section class="bg-base-200 rounded-2xl p-6 shadow-md">
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-4">
      <h3 class="text-xl font-bold">{{ 'experience.company' | translate }}</h3>
      <span class="text-sm text-gray-500">{{ 'experience.duration' | translate }}</span>
    </div>
    <ul class="list-disc list-inside space-y-3 text-base">
      @for (desc of descriptions; track desc) {
        <li [innerHTML]="desc"></li>
      }
    </ul>
  </section>

  <!-- EDUCACIÓN -->
  <div class="flex items-center gap-2 bg-primary text-white w-fit px-4 py-2 rounded-2xl">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" class="text-white">
      <path fill="currentColor" d="M23.835 8.5L12 .807L.165 8.5L12 16.192l8-5.2V16h2V9.693z"/>
      <path fill="currentColor" d="M5 17.5v-3.665l7 4.55l7-4.55V17.5c0 1.47-1.014 2.615-2.253 3.338C15.483 21.576 13.802 22 12 22s-3.482-.424-4.747-1.162C6.014 20.115 5 18.97 5 17.5"/>
    </svg>
    <h1 class="text-lg font-semibold">{{ 'education.title' | translate }}</h1>
  </div>

  <section class="bg-base-200 rounded-2xl p-6 shadow-md">
    <ul class="space-y-6 list">

      <!-- CECAR -->
      <li class="flex flex-col md:flex-row gap-4 items-start list-row">
        <img class="size-12 rounded-lg" src="imgs/logocecar.png" alt="Logo CECAR"/>
        <div class="flex-1">
          <div class="text-xl font-bold uppercase">{{ 'education.university' | translate }}</div>

          <div class="mt-2">
            <p class="uppercase font-semibold">{{ 'education.degree' | translate }}</p>
            <span class="block text-sm opacity-70 mb-1">{{ 'education.location' | translate }} - {{ 'education.year' | translate }}</span>
            <p>
             {{ 'education.details' | translate }}
            </p>
            <button class="badge badge-outline badge-accent mt-2 btn">
            <app-pdf   
            [infPdf]=" 'education.pdf-diploma' | translate " 
            [infText]=" 'education.btn' | translate  "
            [typePdf]="'other'"
            ></app-pdf>
            </button>
          </div>

          <div class="mt-4">
            <p class="uppercase font-semibold">{{ 'education.diploma' | translate }}</p>
            <span class="block text-sm opacity-70 mb-1">{{ 'education.location' | translate }} - 2023</span>
            <p>
              {{ 'education.diplomaDetails' | translate }}
            </p>
            <button class="badge badge-outline badge-accent mt-2 btn">
                <app-pdf   
                [infPdf]=" 'education.pdf-certGTI' | translate " 
                [infText]=" 'education.btn' | translate  "
                [typePdf]="'other'"
              ></app-pdf>
            </button>
          </div>

          <div class="mt-4">
            <p class="uppercase font-semibold">{{ 'education.english' | translate }}</p>
            <p>
             {{ 'education.englishDetails' | translate }}
            </p>
            <button class="badge badge-outline badge-accent mt-2 btn">
              <app-pdf   
                [infPdf]=" 'education.pdf-certB1' | translate " 
                [infText]=" 'education.btn' | translate  "
                [typePdf]="'other'"
              ></app-pdf>
            </button>
          </div>
        </div>
      </li>

      <!-- UDEMY -->
      <li class="flex flex-col md:flex-row gap-4 items-start list-row">
        <img class="size-12 rounded-lg" src="imgs/udemy.png" alt="Logo Udemy"/>
        <div class="flex-1">
          <div class="text-xl font-bold uppercase">Udemy</div>

          <div class="mt-2">
            <p class="uppercase font-semibold">Angular: De cero a experto - 2024 </p>
           
            <button class="badge badge-outline badge-accent mt-2 btn"> <a href="https://www.udemy.com/certificate/UC-0bc05e42-48ff-4895-ad2c-bccecb636930/" target="_blank">{{ 'education.btn' | translate }}</a> </button>
          </div>

          <div class="mt-4">
            <p class="uppercase font-semibold">TypeScript: Tu completa guía - 2024 </p>      
            <button class="badge badge-outline badge-accent mt-2 btn"> <a href="https://www.udemy.com/certificate/UC-6e4899ef-373b-43db-972f-d3c6c0eedd20/" target="_blank">{{ 'education.btn' | translate }}</a> </button>
          </div>

          <div class="mt-4">
            <p class="uppercase font-semibold">GIT + GitHub: Control de versiones - 2024 </p>
            <button class="badge badge-outline badge-accent mt-2 btn"> <a href="https://www.udemy.com/certificate/UC-48b5ffdb-aed8-4e44-8b8f-b98f4f80dbaf/" target="_blank">{{ 'education.btn' | translate }}</a> </button>
          </div>

          <div class="mt-4">
            <p class="uppercase font-semibold">JavaScript Moderno - 2022 </p>
            <button class="badge badge-outline badge-accent mt-2 btn"> <a href="https://www.udemy.com/certificate/UC-e0a9440f-f69f-4073-9398-47cb8c330135/" target="_blank">{{ 'education.btn' | translate }}</a> </button>
          </div>
        </div>
      </li>

    </ul>
  </section>
</div>
