<div class="flex gap-3 flex-col">
    
    <div class="bg-primary w-40 p-1.5 rounded-2xl badge-xl flex  items-center gap-2">
        <svg 
            xmlns="http://www.w3.org/2000/svg" 
            width="30" height="30" 
            viewBox="0 0 20 20">
            <path fill="currentColor" d="M9 12H1v6a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-6h-8v2H9zm0-1H0V5c0-1.1.9-2 2-2h4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h4a2 2 0 0 1 2 2v6h-9V9H9zm3-8V2H8v1z"/>
        </svg>
        <h1 class="">Experiencia</h1>
    </div>

  <section class="bg-base-200 rounded-2xl p-6 shadow-md">
  <div class="flex justify-between items-center mb-4">
    <h3 class="text-xl font-bold ">Efficode S.A.S</h3>
    <span class="text-sm text-gray-500">2023 – 2024</span>
  </div>

  <ul class="list-disc list-inside space-y-3 text-base">
    <li>
      Desarrollé aplicaciones web utilizando 
      <span class="text-secondary font-semibold">Angular</span>, 
      <span class="text-secondary font-semibold">React</span> y 
      <span class="text-secondary font-semibold">Node.js</span>, aplicando principios de 
      <span class="italic">código limpio</span> y 
      <span class="italic">SOLID</span>.
    </li>

    <li>
      Integré <span class="text-secondary font-semibold">APIs RESTful</span> para conectar servicios
      y potenciar funcionalidades, destacando el uso de 
      <span class="text-secondary font-semibold">Supabase</span>.
    </li>

    <li>
      Colaboré estrechamente con equipos de 
      <span class="text-secondary font-semibold">UX</span> y 
      <span class="text-secondary font-semibold">QA</span> para mejorar interfaces, 
      corregir errores y 
      <span class="text-primary font-semibold">garantizar una experiencia de usuario fluida</span>.
    </li>

    <li>
      Implementé diseños responsivos con 
      <span class="text-secondary font-semibold">CSS Grid</span> y 
      <span class="text-secondary font-semibold">Flexbox</span>, asegurando compatibilidad en móviles y tablets.
    </li>
  </ul>

  <!-- <div class="mt-6 text-sm text-gray-500">
    <span class="font-semibold">Contacto:</span> Disponible bajo solicitud.
  </div> -->
</section>




</div>
